{{ include('header.html.twig')}}
   
        
            
                <div class="cjlpv c2ksj cxrsk c8syf c96ud cn2cr cxct7">

                    <!-- Page header -->
                    <div class="cs30q ciipl ccic9 c3lv0">
                    
                        <!-- Left: Title -->
                        <div class="cmrml cjc22">
                            <h1 class="text-slate-800 dark:text-slate-100 font-bold clxpd ctsdk">Ajouter Professeur </h1>
                        </div>
                    
                        <!-- Right: Actions -->
                       
                    
                    </div>

                    <div class="border-slate-200 dark:border-slate-700 cannk">
                        <div class="cokt6 cyy4j cu8i2">
                        
                            <div class="cd4ca cn2cr">
                               <div class="cj3ez">
                                <!-- Card Number -->
                                    <label class="block text-sm cz4nn ca5ph" for="card-nr">Nom Professeur: <span class="ciajw">*</span></label>

                                    <input class="c04hc c96ud" type="text">    
                                    <label class="block text-sm cz4nn ca5ph" for="card-nr">Numero de telephonr: <span class="ciajw">*</span></label>

                                    <input class="c04hc c96ud" type="text">    

                                    <label class="block text-sm cz4nn ca5ph" for="card-nr">Grade Professeur: <span class="ciajw">*</span></label>
                                    <select class="c04hc c96ud" name=""> 

                                        <option value="CT">Chef de travaux</option>
                                        <option value="PO">Professeur Ordinaire</option>
                                        <option value="Ass">Assistant</option>
                                        
                                    </select>
                                    
                                    
                              
                                <!-- Expiry and CVC -->
                               
                                <!-- Name on Card -->
                               
                                <!-- Email -->
                                
                            </div>
                            <!-- Form footer -->
                            <div class="cavzi">
                                <div class="cjc22">
                                    <button class="btn c5e6b cdsge c7qs0 c96ud" type="Submit">Valider</button>
                                </div>
                                
                            </div>
                    
                        </div>

                        <!-- PayPal form -->
                        

                    </div>
                            </div>

                        </div>
                    </div>


{{ include("end.html.twig") }}